# Decision Tree Algorithm

In [21]:
# Import Libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [22]:
# Import DataSet 

df = pd.read_excel('People_Like_DataSet.xlsx')

In [23]:
df.head()

   Age  Height  Weight  Gender Likeness
0   27  170.69    76.0    Male  Biryani
1   41  165.00    70.0    Male  Biryani
2   29  171.00    80.0    Male  Biryani
3   27  173.00   102.0  Female   Samosa
4   29  164.00    67.0    Male   Samosa

In [24]:
df['Gender'] = df['Gender'].replace('Male' , 1)

df['Gender'] = df['Gender'].replace('Female' , 0)

In [25]:
df.head()

   Age  Height  Weight  Gender Likeness
0   27  170.69    76.0       1  Biryani
1   41  165.00    70.0       1  Biryani
2   29  171.00    80.0       1  Biryani
3   27  173.00   102.0       0   Samosa
4   29  164.00    67.0       1   Samosa

In [26]:
# Selection Input & Output Variables

X = df[['Weight','Gender']]

y = df['Likeness']

In [27]:
X.head()

   Weight  Gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       0
4    67.0       1

In [28]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3     Samosa
4     Samosa
Name: Likeness, dtype: object

In [29]:
# Machine Learning Algorithm

from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier().fit(X , y)

model.predict([[56,0]])

c:\Users\N'S SMART\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Samosa'], dtype=object)

In [58]:
# How To Meaaure The accuracy of out Model

# Split data into test and train (80/20)

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train , X_test , y_train , y_test = train_test_split(X , y , train_size=0.2 ,)

model = DecisionTreeClassifier().fit(X_train , y_train)

predict_value = model.predict(X_test)

predict_value

score = accuracy_score(y_test , predict_value)

score

0.5625

In [59]:
# How To Train And Save Your Model
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier().fit(X , y)

joblib.dump(model , "Foodie.joblib")

['Foodie.joblib']

In [ ]:
# How to Import/Run a Stored or Saved Model On Our Data?

In [62]:
# Graph

from sklearn import tree
model = DecisionTreeClassifier().fit(X , y)

tree.export_graphviz(model ,
                    out_file="Foodie.dot",
                    feature_names=['age','gender'],
                    class_names=sorted(y.unique()),
                    label='all',
                    rounded=True,
                    filled=True)